
<style type = "text/css">
.form-inline {
  margin-left: 600px;
}
.navbar-nav {
  color: red;
}
</style>
<body>
  <div class = "menu-item">
  <nav class = "navbar navbar-expand-sm">
              <span class = "navbar-text"> <b>NewsOnOne</b></span>
      <div class = "collapse navbar-collapse justify-content-end" id = "nav-content">
      <ul class = "navbar-nav">
          <li class = "nav-item">
              <a class = "nav-link" href="/aboutus" id = "nav-content"><b>About Us</b></a>
              </li>
  <li class = "nav-item">
  <a class = "nav-link" href="/news" id = "nav-content"><b>News</b></a>
  </li>
  <li class = "nav-item">
  <a class = "nav-link" href="/gallery" id = "nav-content"><b>Gallery</b></a>
  </li>
  <li class = "nav-item">
  <a class = "nav-link" href="/weather" id = "nav-content"><b>Weather</b></a>
  </li>
  </ul>
</div>
</nav>
</div>
</body>
